{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block content %}
    <h2 class="mt-4">Зв'яжіться з нами (WTF-форма)</h2>

    <section id="contact-info" class="mb-4">
        <h4>Мої контакти</h4>
        <p>
            Email: <a href="mailto:mykhailo.pykalo.23@pnu.edu.ua">mykhailo.pykalo.23@pnu.edu.ua</a> <br>
            Телефон: +38 (067) 555-1234 <br>
            GitHub: <a href="https://github.com/Mesman21">https://github.com/Mesman21</a>
        </p>
    </section>

    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="{{ url_for('main.contacts') }}" novalidate>
                {{ form.hidden_tag() }}

                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.phone) }}
                {{ render_field(form.subject) }}
                {{ render_field(form.message) }}

                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}